.item{
  width:500px;
  height:420px;
}
.product{
  width: 700px;
  height: 600px;
}
.Products{
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #C0C0C0;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 6px;
}

th {
  background-color:bisque;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

