<div class="container-fluid p-0">

  <!-- Bootstrap row -->
  <div class="row" id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>MAIN MENU</small>
              </li>
              <!-- /END Separator -->
              <!-- Menu with submenu -->
              <a data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Admin</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
              <a href="Table" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-list-alt fa-fw mr-3" aria-hidden="true"></span>
                      <span class="menu-collapsed">Quản lý đơn hàng</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>

              <a href="Menu" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-cutlery fa-fw mr-3"aria-hidden="true"></span>
                      <span class="menu-collapsed"> Quản lý thực đơn</span>
                  </div>
              </a>
              <a href="Order" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-table fa-fw mr-3"></span>
                      <span class="menu-collapsed">Quản lý đặt bàn</span>
                  </div>
              </a>
              <a href="Statistic" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-line-chart fa-fw mr-3"></span>
                      <span class="menu-collapsed">Quản lý doanh thu</span>
                  </div>
              </a>
              <!-- Logo -->
              <li class="list-group-item logo-separator d-flex justify-content-center" >
                  <img src='./assets/images/logo.jpg' width="50" height="50" />
              </li>
          </ul>
      </div><!-- END -->

      <!-- MAIN -->
      <div class="col">

          <h1>

              <small class="text-muted"></small>
          </h1>


          <app-statistic></app-statistic>



      </div>

  </div>


  </div>
