<table border="1" cellpadding="3" cellspacing="3">
  <thead>
    <tr>
      <th><a class="button1" href=""><span class="btn1">                   Bàn 1                  </span></a></th>
      <th><a class="button1" href=""><span class="btn1">Bàn 2</span></a></th>
      <th><a class="button1" href=""><span class="btn1">Bàn 3</span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="button1" href=""><span class="btn1">Bàn 4</span></a></td>
      <td><a class="button1" href=""><span class="btn1">Bàn 5</span></a></td>
      <td><a class="button1" href=""><span class="btn1">Bàn 6</span></a></td>
    </tr>
    <tr>
      <td><a class="button1" href=""><span class="btn1">Bàn 7</span></a></td>
      <td><a class="button1" href=""><span class="btn1">Bàn 8</span></a></td>
      <td><a class="button1" href=""><span class="btn1">Bàn 9</span></a></td>
    </tr>
  </tbody>
</table>
